*{
    margin: 0;
    padding: 0;
}
/*---------PORTADA Y FOOTER DE AMBAS PAGINAS-----------*/
.portada{
    display: flex;
    height: 190px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    border-top: 4px solid goldenrod;
    border-right: 1px solid goldenrod;
    border-left: 1px solid goldenrod;
    
}

.navBar{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    height: 40px;
    width: 100%;
    background-color: black;
    list-style-type: none;
    border-right: 1px solid goldenrod;
    border-bottom: 4px solid goldenrod;
    border-left: 1px solid goldenrod;
     
}

.estiloLetrasNav{
    text-decoration: none;
    color: rgb(214, 213, 213);
    border: 1px solid rgb(214, 213, 213);
}


.contenedorFooter{
    display: flex;
    background-color: #000;
    width: 100%;
    height: 20vh;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-top: 3px solid white;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    border-left: 3px solid white ;
    box-shadow: 10px 10px 30px #000;
}

.imagenFooter{
    width: 6vw;
    height: 6vh;
}

.tituloFooter{
    font-size: x-large;
    color: whitesmoke;
}

/*-------------MAIN INDEX---------------*/

.contenedorMainIndex{
    display: grid;
    width: 100%;
    height: 130vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0.3%;
    
}


.gridIndex1{
    border: 1px solid black;
    grid-row-start: 1;
    grid-row-end: 4;

}

.gridIndex2{
    border: 1px solid black;
    background-color: #000;
    grid-column-start: 2;
    grid-column-end:4;
    padding: 10%;
}

.tituloGrid2{
    color: goldenrod;
    text-align: center;
}

.gridIndex3{
    border: 1px solid black;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}

.estiloImagen{
    width: 100%;
    height: 100%;
}

/*----------MAIN PRODUCTOS-------------*/

.contenedorGaleria{
    display: grid;
    background-color: #000;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 150px;
    padding: 20px;
    gap: 10px;
}

.tituloEncabezadoGaleria{
    background-color: #000;
    color: goldenrod;
    text-align: center;
    padding: 10px;
}

.gallery__img{
    width: 100%;;
    height: 100%;
    object-fit: cover;
}

.itemGaleria{
    position: relative;
}

.tituloGaleria{
    position: absolute;
    color: white;
    bottom: 0;
    background: linear-gradient(rgba(255,255,255,0.1), rgba(0,0,0,1));
    width: 100%;
    margin: 0;
    padding: 10px;

}

.itemGaleria:nth-child(3){
    grid-column-start: span 2;
}
.itemGaleria:nth-child(4){
    grid-row-start:1;
    grid-row-end:4;
}
